@charset "utf-8";
 html, body {
    height: 100%;
    -webkit-text-size-adjust: none;
}
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
input, select {
    vertical-align: middle;
    font-family: 'tahoma','arial','ו';
}
body {
    font: 12px/1.5 tahoma,arial,ו;
	padding: 0px;
	margin: 0px;
}
a, a:visited {
    color: #0170b5;
    text-decoration: underline;
}
a:hover, a:active {
    color: #4295cb;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}